@keyframes Change {
    0% {
        background-color: blue;
    }

    20% {
        background-color: blueviolet;
    }

    40% {
        background-color: rgb(50, 1, 47);
    }

    60% {
        background-color: rgb(104, 1, 1);
    }
    80% {
        background-color: gold;
        color: black;
    }

    100% {
        background-color: blueviolet;
    }

}